/** GLOBAL STYLES **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 67px;
    display: grid;
    min-height: 100vh;
    font-family: 'SFPRODISPLAYREGULAR';
    background-color: #F6F6F6;
}


/**                                         navBar (Barra de navegação)                                                  **/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    z-index: 999;
    background-color: #000;
    border-bottom: 1px solid #808080;
}

.logo {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 18px;
    cursor: default;
    margin-left: 5%;
}

.links::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 12px;
    background-color: #fc2626;
    transition: width .3s;
}

.links:hover::after {
    width: 100%;
    transition: width .3s;
}

.links:hover {
    color: #fa3434;
    transition: .3s;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 3em;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-weight: bold;
}

.burger {
    display: none;
    margin-right: 1em;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: white;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: white;
}


/**                                                 Conteúdo da página                                                  **/

@font-face {
    font-family: 'SFPRODISPLAYREGULAR';
    src: url(./font/SFPRODISPLAYREGULAR.OTF) format('opentype');
}

.bg {
    background-color: #000;
    color: #fff;
    padding-left: 5%;
    padding-top: 25px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    z-index: 2;
}

.content h1 {
    font-size: 32px;
}

.content h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.content p {
    font-size: 14px;
}

.content span {
    color: #C4A9FF;
}

.picture {
    height: 387px;
    width: 387px;
    margin-right: 100px;
    margin-top: -30px;
}

.bigCircle {
    background-color: #070707;
    width: 387px;
    height: 387px;
    border-radius: 100%;
    position: absolute;
}

.mediumCircle {
    background-color: #0D0D0D;
    width: 307px;
    height: 307px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.smallCircle {
    background-color: #121212;
    width: 237px;
    height: 237px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image {
    background: rgb(146, 142, 142);
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 32px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.linkedin {
    background-color: #fff;
    border-radius: 57px;
    display: flex;
    align-items: center;
    position: relative;
    left: 90%;
    top: 5%;
    padding: 10px;
    transform: translate(-50%, -50%);
    width: 150px;
}

.linkedin img {
    width: 26px;
}

.smallCircle a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

.smallCircle a:hover {
    text-decoration: none;
    color: #000;
    background-color: #e6e6e6;
}

.smallCircle p {
    margin-top: 2px;
}

.projects {
    margin: 50px 0;
    flex-direction: column;
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 5% 0 5%;
}

.grid {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1rem;
}

.card {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 5px 8px 16px 5px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card>div>a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.company {
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.third,
.sixth {
    place-self: end;
}

.second,
.fifth {
    place-self: center;
}

.imgProject {
    aspect-ratio: 5/3;
    max-width: 517px;
    width: 100%;
}

.card h1 {
    font-size: 24px;
}

.card h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.card p {
    font-size: 14px;
}

.info>h2 {
    display: flex;
}

#anchor2 {
    margin-bottom: 2em
}

@media(max-width: 1650px) {
    .grid>.card {
        width: 450px;
        height: auto;
    }
}

@media(max-width: 1500px) {
    .grid>.card {
        width: 400px;
        height: auto;
    }
}

@media(max-width: 1350px) {
    .grid>.card {
        width: 350px;
        height: auto;
    }
}

@media(max-width: 1200px) {
    .grid>.card {
        width: 300px;
        height: auto;
    }
    .grid>.card img {
        margin-right: 3px;
    }
}

@media(max-width: 1050px) {
    .grid>.card {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .second,
    .fourth,
    .sixth {
        place-self: end;
    }
    .third,
    .fifth {
        place-self: start;
    }
}

@media(max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .card {
        place-self: center;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 45%;
        margin-right: 0em;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: #131315;
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
        margin: 1em;
    }
    .nav-links a {
        color: white;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(0%);
    }
}

@media(max-width: 1260px) {
    .bg {
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        max-height: 650px;
    }
    .projects {
        padding: 0 5%;
    }
    .picture {
        margin-right: 0;
        width: 287px;
    }
    .bigCircle {
        width: 287px;
        height: 287px;
    }
    .mediumCircle {
        width: 227px;
        height: 227px;
    }
    .smallCircle {
        width: 137px;
        height: 137px;
    }
    .linkedin {
        left: 90%;
        top: -25%;
        padding: 10px;
    }
    .bg {
        padding-left: 0em;
        padding: 1em 5% 0;
    }
}

@media(min-width: 820px) {
    .bg .content {
        max-width: 754px;
    }
}